@font-face{
    font-family: 'Lobster Two';
    src: url(/assets/fonts/LobsterTwo-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #46380d;
}

header{
    background-color: #f2aa00;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
}

header img{
    vertical-align: middle;
}

h1{
    font-family: Lobster Two;
    font-size: 100px;
}

header img[src="assets/img/logo.png"]{
    width: 100px;
    display: inline-block;
}

header nav{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 150px);
    text-align: right;
}

header nav img{
    width: 40px;
    vertical-align: middle;
    display: none;
}

header nav div{
    display: inline-block;
    vertical-align: middle;
}

header nav a{
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

main{
    text-align: center;
    margin-top: 20px;
}

main section.platos{
    width: 60%;
    margin: 40px auto;
    text-align: left;
}

.platos img{
    width: 100%;
    border-radius: 8px;
}

main section:last-child{
    width: 60%;
    margin: 40px auto;
}

main section:last-child img{
    width: 100%;
    border-radius: 8px;
}

main section:last-child article{
    text-align: left;
}
h3{
    margin-bottom: 5px;
}

button{
    background-color: #f2aa00;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
}

footer{
    background-color: #f2aa00;
    width: 100%;
    padding: 20px;
    text-align: center;
}

footer section{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

footer h4{
    font-size: 20px;
    margin-bottom: 8px;
}
footer a{
    text-decoration: none;
}
@media (max-width: 700px) {
    h1{
        font-size: 75px;
    }
    header nav img {
        display: inline-block;
    }

    header nav div {
        display: none;
        position: absolute;
        right: 20px;
        top: 90px; 
        background-color: #f2aa00;
        width: 200px;
        padding: 15px;
        border-radius: 5px;
        z-index: 999; 
        font-size: 20px;
    }
    header nav div a {
        display: block;
        margin: 10px 0;
    }
    header nav div.show {
        display: block;
    }
}
@media (min-width: 700px){
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 25px;
    }
    .platos p{
        margin-bottom: 10px;
    }
    button{
        font-weight: bold;
        font-size: 15px;
        padding: 15px 25px;
        border-radius:5px;
    }
}
@media (min-width: 1200px){
    h2{
        font-size: 35;
    }
    h3{
        font-size: 30px;
    }
    main section.platos{
        display: inline-block;
        width: 40%;
        margin: 40px;
    }
    .platos img{
        width: 100%;
        border-radius: 8px;
    }
    .platos p{
        margin-bottom: 10px;
    }
    button{
        font-weight: bold;
        font-size: 20px;
        padding: 20px 35px;
        border-radius: 10px;
    }
    
}

